<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Không tìm thấy sản phẩm</title>
    <link rel="icon" type="image/x-icon" href="~/Public/Assets/icon/icon-tea-main.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Css -->
    <link rel="stylesheet" href="~/Public/Css/common.css">
    <link rel="stylesheet" href="~/Public/Css/product.css">

    <style>
        .pagination a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="container ">
            <div class="d-flex justify-content-between">
                <div class="header-logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Public/Assets/Pictures/trang-chu/logophongtra.png" alt=""></a>
                </div>
                <div class="header-nav">
                    <ul class="row">
                        <li><a href="@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                        <li><a href="@Url.Action("Introduction", "Home")">GIỚI THIỆU</a></li>
                        <li><a href="@Url.Action("Product", "Home")">SẢN PHẨM</a></li>
                        <li><a href="@Url.Action("News", "Home")">TIN TỨC</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">LIÊN HỆ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Banner -->
    <section class="banner-product">
        <div class="container">
            <h2>SẢN PHẨM</h2>
        </div>
    </section>

    <!-- Nav Product -->
    <div class="container">
        <div class="nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li><a href="@Url.Action("Product", "Home")">Sản phẩm</a></li>
            </ul>
        </div>

        <h3 class="h3-title">Sản phẩm</h3>
    </div>

    <!-- List Product -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <p style="margin: 8px 0; color: rgb(185, 185, 185);">Bộ lọc sản phẩm</p>

                    <div class="category-product">
                        <h4>Loại sản phẩm</h4>
                        <form action="" class="form-cate-product">
                            @foreach (var c in ViewBag.listCate)
                            {
                                <div style="margin-top:10px">
                                    <input type="checkbox" id="" name="" value="">
                                    <a href="@Url.Action("ProductsByCategory", "Home", new {slug = c.Slug, page = 1})" for="">@c.Name</a>
                                </div>
                            }
                        </form>
                    </div>

                    <div class="product-search-price">
                        <h4>Giá Thành</h4>
                        <div id="slider-range" class="w-75" style="margin-top: 12px;"></div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; margin-top: 8px;">
                        </p>


                    </div>

                    <div class="trademark">
                        <h4>Thương Hiệu</h4>
                        <form action="" class="form-cate-product">
                            <div>
                                <input type="checkbox" id="" name="" value="">
                                <label for="">Trà Tân Cương Xanh</label>
                            </div>
                            <div>
                                <input type="checkbox" id="" name="" value="">
                                <label for="">Trà Sen Tây Hồ</label>
                            </div>
                            <div>
                                <input type="checkbox" id="" name="" value="">
                                <label for="">Trà Lộc Tân</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-9 col-sm-6" style="margin-top: 40px;">
                    <div class="product-empty text-center">
                        <img src="../Assets/Pictures/san-pham/not-found.png" alt="" class="w-25">
                        <img src="~/Public/Assets/Pictures/san-pham/not-found.png" alt="" class="w-25">
                        <p style="font-size: 32px;">
                            Danh mục chưa có sản phẩm!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")"><img src="~/Public/Assets/Pictures/trang-chu/logophongtra.png" alt=""></a></li>
                        <li><a href="#">7999-999-999</a></li>
                        <li><a href="#">trasenbachdiep@gmail.com</a></li>
                        <li><a href="#">số 12, Quảng An, Hồ Tây, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul>
                        <li><h4>VỀ CHÚNG TÔI</h4></li>
                        <li><a href="@Url.Action("Introduction", "Home")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("Product", "Home")">Sản phẩm</a></li>
                        <li><a href="@Url.Action("News", "Home")">Tin tức</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><h4>LIÊN HỆ</h4></li>
                        <li>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            Copyright © 2010-2020 <br />
                            Tra Sen Bach Diep. All right reserved.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 50000,
                max: 500000,
                values: [50000, 200000],
                slide: function (event, ui) {
                    $("#amount").val("Từ " + ui.values[0] + " đến " + ui.values[1]);
                }
            });
            $("#amount").val("Từ " + $("#slider-range").slider("values", 0) +
                " đến " + $("#slider-range").slider("values", 1));
        });
    </script>
</body>
</html>